body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.MuiTypography-root {
    color: #292929 !important;
}

.primary-btn {
    background-color: #4b49bb !important;
    text-transform: capitalize !important;
    color: #ffff !important;
}

.h-50 {
    height: 50px;
}

.company_logo {
    height: 45px !important;
    width: 45px !important;
    border-radius: 5px;
    object-fit: cover;
}

.hoverText:hover {
    text-decoration: underline;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.text-primary {
    color: #4b49bb !important;
}

.active {
    color: #4b49bb !important;
    border-bottom: 2px solid #4b49bb !important;
}


.text-transform {
    text-transform: capitalize;
}

.text-gray {
    color: lightgray !important;
}

.fs {
    font-size: 14px !important;
}

.fw-6 {
    font-weight: 600 !important;
}


.justify-between {
    justify-content: space-between !important;
}

.heading {
    font-size: 14px !important;
    color: #292929;
    font-weight: 600 !important;
}

.skillContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    height: 37px !important;
    overflow: hidden;
    align-items: center;
}



.skillItem {
    border: 1px solid #eceded;
    border-radius: 4px;
    color: #9b9d9e;
    padding: 7px 8px;
    font-size: 12px;
    font-weight: 500;
}

.description {
    font-size: 14px !important;
    color: #292929;
    margin-bottom: 20px;
}

.JobCategory {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0 0 !important;
    overflow: hidden;
    height: 69px;
}

.JobCategory .categoryItem {
    font-size: 12px !important;
    padding-left: 3px;
    color: #292929 !important;
}

/* paddings */
.p-20 {
    padding: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.homeCarousel {
    padding: 10px 0px;
}

.homeCarousel .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 3px 0px 6px #0000000D;
    border-radius: 6px;
    opacity: 1;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.homeCarousel .slick-left {
    left: -15px;
}

.homeCarousel .slick-right {
    right: -10px;
}

.homeCarousel .sliderArrow {
    font-size: 16px !important;
}

.homeCarousel .slick-track {
    left: 11px;
}
